.idea

.config/dwm/drw.o
.config/dwm/dwm
.config/dwm/dwm.o
.config/dwm/util.o
.config/dwmblocks/dwmblocks.o
.config/dwmblocks/dwmblocks
.config/xmenu/xmenu
.config/xmenu/xmenu.o


.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-taskmanager.xml