* {
    width: 50em;
    background: #282C34;
    background-color: rgba(0, 0, 0, 0%);
    foreground: #FFFFFF;
    focused: #61AFEF;
    font: "JetBrainsMono Nerd Font 12";

    prompt-padding: 0.4em 1.5em;
    entry-margin: 0.4em 0 0 5px;
    element-padding: 0.2em;
    element-text-padding: 0.2em;
    element-icon-size: 1.2em;
    element-icon-padding: 0 0.2em 0 0.2em;

    focused-network: #98C379;
    width-network: 30em;

    focused-polkit: #C678DD;
    width-polkit: 30em;

}