@import "../themes/rofi.rasi"
@import "combo-modi.rasi"

window {
    width: @width-network;
}

prompt {
    background-color: @focused-network;
}

element {
    border-color: @focused-network;
}

element.normal.active, element.selected.normal, element.selected.active {
    background-color: @focused-network;
}

element.alternate.active {
    text-color: @background;
    background-color: @focused;
}